

<h1 class="page-header">Trades de Football (<%= @football_trades.count %>)</h1>

<div class="alert alert-info">
  Cette page regroupe tous les matchs et les cotes de toutes les plateformes scrapées. Ces Trade sont reliés à un evenement global appelé Football Event
</div>
<%= render partial: "football_trades/football_trades_list", locals:{ football_trades: @football_trades} %>
<br>

<%= link_to 'New Football trade', new_football_trade_path %>
