<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="active">
      <%= link_to root_path do %>
        <i class="fa fa-fw fa-dashboard"></i>
        Dashboard
        <% end %>
    </li>
    <li class="active">
      <%= link_to football_events_path do %>
        <i class="fa fa-fw fa-soccer-ball-o"></i>
        Football Events
        <% end %>
    </li>
    <li class="active">
      <%= link_to football_trades_path do %>
        <i class="fa fa-fw fa-money"></i>
        Football Trades
        <% end %>
    </li>



  </ul>
</div>
