<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="active">
      <%= link_to root_path do %>
        <i class="fa fa-fw fa-dashboard"></i>
        Dashboard
        <% end %>
    </li>
    <li class="">
      <%= link_to sport_events_path do %>
        <i class="fa fa-fw fa-soccer-ball-o"></i>
        Sport Events
        <% end %>
    </li>
    <li class="">
      <%= link_to sport_trades_path do %>
        <i class="fa fa-fw fa-signal"></i>
        Sport Trades
        <% end %>
    </li>
    <li class="">
      <%= link_to sport_odds_path do %>
        <i class="fa fa-fw fa-money"></i>
        Sport odds
        <% end %>
    </li>

  </ul>
</div>
